/MFC/Debug/MFC.exe

/MFC/Debug/MFC.ilk

/MFC/MFC.ncb

/MFC/MFC.suo


/MFC/MFC/Debug
/MFC/MFC/MFC.vcproj.HIK.shikai7.user
/MFC/MFC/*.user
/MFC/Debug/*.exp
/MFC/Debug/*.ilk
/MFC/testViewOcx/*.user
